<%= form_tag '/authenticate_admin' do %>
  <br/>
  <tr>
    <td>
      <label for="name">Email: </label>
    </td>
    <td>
      <%= text_field_tag :email %>
    </td>
  </tr>
  <tr>
    <td>
      <label for="password">Password: </label>
    </td>
    <td>
      <%= text_field_tag :password %>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <%= submit_tag %>
    </td>
  </tr>
<% end %>